* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Lato, sans-serif;
}

.navbar {
    display: flex;
    align-items: center;
    padding: 20px;
}

.navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
}

nav {
    flex: 1;
    text-align: right;
}

nav ul {
    display: inline-block;
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav li a:hover,
nav li a.under {
    color: darkred;
}

nav li a.under::after,
nav li a:hover::after {
    content: "";
    width: 30%;
    height: 2px;
    background: darkred;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

a {
    text-decoration: none;
    color: black;
}

p {
    color: rgb(12, 8, 8);
}

.sale {
    flex-direction: row-reverse
}

.card-body {
    width: fit-content
}

.img-thumbnail {
    border: none;
    width: 200px;
    height: 200px;
    object-fit: contain;
}

.card {
    width: 400px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, .1);
    border-radius: 5px;
    padding-bottom: 10px;
    margin: 10px;
}

.card-title {
    font-size: 14px;
    font-weight: 900
}

.card-text {
    font-size: 14px;
    font-family: sans-serif;
    font-weight: 500
}

.row {
    justify-content: space-around;
}

.col-2 {
    flex-basis: 50%;
    min-width: 300px;
}

.col-2 img {
    max-width: 100%;
}

.col-2 h1 {
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}

.btn {
    display: inline-block;
    background: rgb(223, 136, 22);
    color: rgb(4, 3, 5);
    box-shadow: 0px 10px 10px #E0E0E0;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;
}

.btn:hover {
    background: #563434;
}

.btn-reserve {
    display: inline-block;
    background-color: #720d62;
    color: #E1E8EE;
    box-shadow: 0px 10px 10px #E0E0E0;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;
}

.header {
    background: radial-gradient(#fff, #ffd6d6);
}

.header row {
    margin-top: 70px;
}

.category {
    margin: 70px 0;
}

.col-3 {
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}

.col-3 img {
    width: 100%;
}

.smallcontainer {
    padding-left: 25px;
    padding-right: 25px;
}

.col-4 {
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}

.col-4 img {
    width: 100%;
}

.title {
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #555;
}

.title::after {
    content: '';
    background: orangered;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

h4 {
    color: grey;
    font-weight: normal;
}

.col-4 p {
    font-size: 14px;
}

.col-4:hover {
    transform: translateY(-5px);
}

.menu-icon {
    width: 28px;
    margin-left: 20px;
    display: none;
}

#newsletter {
    margin-left: 400px;
}

#font {
    font-size: 25px;
}

@media only screen and (max-width: 800px) {

    .media-icon {
        display: block;
        cursor: pointer;
    }
}
/*---Media query for less than 600 screen size---*/
@media only screen and (max-width:600px){
    .row{
        text-align: center;
    }
    .col-2, .col-3, .col-4 {
        flex-basis: 100%;
    }
    .single-product .row{
        text-align: left;
    }
    .single-product .col-2 {
        padding: 20px 0;
    }
}

/*-----footer-------*/
.footer {
    background: #ffd6d6;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0 20px;
}

.footer p {
    color: #8a8a8a;
}

.footer h3 {
    color: black;
    margin-bottom: 20px;
}

.footer-col-1 {
    min-width: 250px;
    margin-bottom: 20px;
}

.footer-col-1 {
    flex: 1;
    text-align: center;
}

.footer-col-1 img {
    width: 180px;
    margin-bottom: 20px;
}

.footer-col-2 {
    flex-basis: 12%;
    text-align: right;
    list-style-type: none;
}

ul {
    list-style-type: none;
}

.abc {
    flex-basis: 50%;
    min-width: 300px;
    text-align: right;
}

.abc img {
    max-width: 100%;
    padding: 50px 0;
}

.abc h1 {
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}

/*---------Single Product-----------*/

.single-product {
    margin-top: 80px;
}

.single-product .col-2 img {
    padding: 0;
}

.single-product .col-2 {
    padding: 20px;
}

.single-product h4 {
    margin: 20px 0;
    font-size: 22px;
    font-weight: bold;
}

.single-product select {
    display: block;
    padding: 10px;
    margin-top: 20px;
}

.single-product input {
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 20px;
    margin-right: 10px;
    border: 1px solid #ff523b
}


#details {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#details {
    width: 40%;
}

#contact-details .details span {
    font-size: 12px;
}

#contact-details .details h2 {
    font-size: 22px
}

/* Columns */
.left-column {
    width: 65%;
    position: relative;
}

.right-column {
    margin-top: 60px;
}

/* Left Column */
.left-column img {
    position: absolute;
    border: none;
    height: 400px;
    width: 400px;
    object-fit: contain;
    left: 0;
    top: 0;
    transition: all 0.3s ease;
}

/* Right Column */

/* Product Description */
.product-description {
    border-bottom: 1px solid #E1E8EE;
    margin-bottom: 20px;
}
.product-description h1 {
    font-weight: 300;
    font-size: 52px;
    color: #43484D;
    letter-spacing: -2px;
}
.product-description p {
    font-size: 16px;
    font-weight: 300;
    color: #86939E;
    line-height: 24px;
}

/* Product Configuration */
.product-color span,
.cable-config span {
    font-size: 14px;
    font-weight: 400;
    color: #86939E;
    margin-bottom: 20px;
    display: inline-block;
}

/* Product Price */
.product-price {
    align-items: center;
}

.product-price span {
    font-size: 26px;
    font-weight: 300;
    color: #43474D;
    margin-right: 20px;
}

